<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Flights</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<%- include("../partials/nav") %> 
  <h1>Flights List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Time of Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => {%> 
        <tr>
          <td><%= flight.airline %> </td>
          <td><%= flight.airport %> </td>
          <td><%= flight.flightNo %> </td>
          <td><%= flight.departs %> </td>
          <td>
            <div id="flight-options">
              <a href="/flights/<%= flight._id%>">DETAILS</a>
              <a href="/flights">DELETE</a>
            </div>
          </td>
        </tr>
      <% }); %> 
    </tbody>
  </table><br>
  <a href="/">Home</a>
</body>
</html>